@use "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: #dcdcdc;
}

header {
  background-color: #171a18;
}

footer {
  background-color: #171a18;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
